<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-list>
      <ion-item *ngFor="let user of users" class="user">
        <ion-label routerLink="../user/{{ user.id }}">Name: {{ user.name }}</ion-label>
      </ion-item> 
    </ion-list>
  </div>
</ion-content>
